name: Release

on:
  push:
  release:
    # "released" events are emitted either when directly be released or be edited from pre-released.
    types: [prereleased, released]

jobs:
  deploy:
    runs-on: ubuntu-latest

    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        package_name: [clock, timer, stopwatch, components, style-bulma]

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: '18.x'
          registry-url: 'https://registry.npmjs.org'
          cache: yarn
          cache-dependency-path: yarn.lock

      - name: install and build
        run: |
          yarn install
          ./yarn.links.sh
          yarn build

      - name: update version
        working-directory: packages/${{ matrix.package_name }}
        if: github.event_name == 'release'
        run: |
          git config user.email "dummy@dummy"
          git config user.name "dummy"
          npm version from-git --allow-same-version --no-git-tag-version
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - working-directory: packages/${{ matrix.package_name }}
        run: npm pack

      - name: Test installation
        working-directory: packages/${{ matrix.package_name }}
        run: |
          set -eu
          built_dir=$(pwd)
          tempdir=$(mktemp -d)
          cd $tempdir
          yarn add $built_dir/*.tgz
          cd $built_dir
          rm -rf $tempdir

      - run: npm publish --access=public
        working-directory: packages/${{ matrix.package_name }}
        if: github.event_name == 'release' && !github.event.release.prerelease
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
